{% load static %}


{% block body %}

{% include 'navigation.html' %}

<style>
    .container{
    max-width : 90%
    }

    .content{
    text-align:center;
    position:absolute;
    bottom:0;
    background:rgba(0,0,0,0.5);
    color:white;
    height:30px;
    width:91%

    }

</style>
<div class="container-fluid">
    <img src="{% static 'images/index.jpg'%}" style="height:450px; width:100%">

</div>

<div class="container" style="background-color : white; height:650px; margin-top:2%">
<h1>Our Team</h1>

    <div class="row mt-3">
        <div class="col-md-3">
            <img src="{% static 'images/u1.jpg'%}" style="width:100%; margin-top:5%; height: 200px;">
            <div class="content">
            <p>Works at bank as accountant</p>
        </div>
        </div>

         <div class="col-md-3">
            <img src="{% static 'images/u22.png'%}" style="width:100%; margin-top:5%; height: 240px;">
            <div class="content">
            <p>Works as Marketing executive</p>
        </div>
        </div>

         <div class="col-md-3">
            <img src="{% static 'images/u3.jpg'%}" style="width:100%; margin-top:5%; height: 200px;">
            <div class="content">
            <p>Works at facebook</p>
        </div>
        </div>

         <div class="col-md-3">
            <img src="{% static 'images/u4.jpg'%}" style="width:100%; margin-top:5%; height: 200px;">
            <div class="content">
            <p>Rinku Dahal</p>
        </div>
        </div>

    </div>
    <div class="row mt-3">
        <div class="col-md-3">
            <img src="{% static 'images/u5.jpg'%}" style="width:100%; margin-top:5%; height: 200px;">
            <div class="content">
            <p>Works as teacher</p>
        </div>
        </div>

         <div class="col-md-3">
            <img src="{% static 'images/u6.jpg'%}" style="width:100%; margin-top:5%; height: 200px;">
            <div class="content">
            <p>Software Enginner</p>
        </div>
        </div>

         <div class="col-md-3">
            <img src="{% static 'images/u7.jpg'%}" style="width:100%; margin-top:5%; height: 200px;">
            <div class="content">
            <p>Works as IT technician</p>
        </div>
        </div>

         <div class="col-md-3">
            <img src="{% static 'images/u8.jpg'%}" style="width:100%; margin-top:5%; height: 200px;">
            <div class="content">
            <p>Works as lab technician</p>
        </div>
        </div>




</div>

{% endblock%}